body{
    overflow-x: hidden;
    margin: 0;
}
#bar{
    background-color:white;
    width: 100%;
    height: 85px;

}
.logo{
    width: 351.56px;
    height: 75px;
    margin-left: 20%;
}
.user{
    float: right;
    margin-top: 20px;
    

}
.cart{
    float: right;
    margin-right: 20%;
    padding-top: 5px;
    margin-top: 20px;
    
}
#ma{
    padding-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial,sans-serif;
    font-size: 14px;
    
}

#hs{
    font-family: Arial,sans-serif;
    font-size: 11px;
    padding-left: 10px;
    text-transform: uppercase;
    
}
.matext{
    float: right;
    margin-right: 25px;
    margin-top: 20px;

}
.ma_cart{
    float: right;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial,sans-serif;
    font-size: 14px;
    padding-top: 5px;

}
#nav{
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;

}
.left-nav{
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 14px;
    margin-left: 19.5%;
}
.sh{
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 14px;
    margin-right: 25%;
    float: right;
    padding-bottom: 25px;

}
li{
    list-style: none;
    display: inline;
    margin-left: 25px;
}

#hero{
    background-image: url(images/fi-homepage-banner-lg.jpg);
    background-size: cover;
    width: 100%;
    height: 590px;
    background-position: center;
}
#fortun{
    background-image: url(images/fortuneauto-desktop.jpg);
    background-size: cover;
    width: 100%;
    height: 750.52px;
    background-position: center;
}
#top{
    background-image: url(images/top19-dekstop.jpg);
    background-size: cover;
    width: 100%;
    height: 703.2px;
    background-position: center;
}
#stance{
    background-image: url(images/fitment-industries-add-your-car.png);
    background-size: cover;
    width: 100%;
    height: 648.97px;
    background-position: center;
    margin-bottom: 162.250px;

}
.accuair{
    width: 50%;
    height: 648.97px;
}
.airlift{
    width: 50%;
    height: 648.97px;
    
}
#susp{
    display: inline;
}
#custom{
    background-image: url(images/fitment-industries-car-gallery.jpg);
    background-size: cover;
    width: 100%;
    height: 648.97px;
    background-position: center;
}
#detailer{
    background-image: url(images/fitment-industries-carcare-products.jpg);
    background-size: cover;
    width: 100%;
    height: 623.73px;
    background-position: center;
}
#charity{
    background-image: url(images/donation-counter-img.png);
    background-size: cover;
    width: 100%;
    height: 287px;
    background-position: center;
}
#truck{
    background-image: url(images/custom-offsets-truck-gallery.png);
    background-size: cover;
    width: 100%;
    height: 648.97px;
    background-position: center;
}
.feat{
    font-weight: 900px;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;

}
h4{
    font-family: "Oswald";
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.avidone{
    width: 240px;
    height: 304px;
    border: solid grey 1px;
    float: left;
    margin-left: 50px;
}
.cosmis{
    width: 240px;
    height: 304px;
    border: solid grey 1px;
    float: left;
    margin-left: 50px;
}
.avidtwo{
    width: 240px;
    height: 304px;
    border: solid grey 1px;
    float: left;
    margin-left: 50px;
}
.jnc{
    background-size: cover;
    width: 240px;
    height: 304px;
    border: solid grey 1px;
    float: left;
    margin-left: 50px;
}
#featprod{
    display: inline;
}
.pic{
    width: 220px;
    height: 220px;
    margin-left: 5%;
    
}
.logos{
    width: 100px;
    height: 25px;
    margin-left: 30%;
    
}
.logosjnc{
    width: 25px;
    height: 25px;
    margin-left: 45%;
    
}
#feat{
    margin-left: 325px;
}
.name{
    margin-left: 55px;
    font-family: "Oswald";
    font-size: 14px;
    text-transform: uppercase;
}
.namee{
    margin-left: 95px;
    font-family: "Oswald";
    font-size: 14px;
    text-transform: uppercase;
}
.store{
    font-family: "Oswald";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 1500px;
    margin-left: 22.5px;
}
.button1{
    margin-left: auto;
    margin-right: auto;
    width: 198.2px;
    height: 39px;
    border: solid grey 2px;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: "Oswald";
}
.spacer{
    height: 500px;
}
.button2{
    margin-left: auto;
    margin-right: auto;
    width: 198.2px;
    height: 39px;
    border: solid black 2px;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: "Oswald";
    background-color: rgba(204,204,204,.95);
}
.one{
    color: black;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    font-family: "Oswald";
    font-weight: bolder;
    padding-top: 145px;
    z-index: -1;
    

}
.two{
    color: black;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    font-family: "Oswald";
    font-weight: bolder;
    position: relative;
    z-index: -2;
    margin-top: -60px;
    opacity: 0.25;
    

}
.three{
    color: black;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    font-family: "Oswald";
    font-weight: bolder;
    position: relative;
    z-index: -3;
    margin-top: -70px;
    opacity: 0.1;
    

}
.be{
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 23px;
    text-align: center;
    font-weight: 100;
    margin-top: 25px;
}
.spacer2{
    height: 20px;
}
.button3{
    margin-left: auto;
    margin-right: auto;
    width: 230.66px;
    height: 40px;
    border: solid black 2px;
    color: black;
    text-align: center;
    padding-top: 12px;
    font-family: "Oswald";
    font-weight: bolder;
}
.cars{
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bolder;
    float: right;
    font-family: "Oswald";
    margin-top: 250px;
    margin-right: 35px;
    
}
.ca{
    text-transform: uppercase;
    font-family: "Oswald";
    padding-top: 300px;
    margin-left: 67%;
    
}
.button4{
    margin-left: 72.5%;
    width: 230.66px;
    height: 40px;
    border: solid black 2px;
    color: black;
    text-align: center;
    padding-top: 12px;
    font-family: "Oswald";
    font-weight: bolder;
}
.spacer3{
    height: 25px;
}
.show{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
    float: right;
    font-family: "Oswald";
    margin-top: 250px;
    margin-right: 100px;
}
.enth{
    text-transform: uppercase;
    font-family: "Oswald";
    padding-top: 320px;
    margin-left: 76%;
}
.button5{
    margin-left: 76.5%;
    width: 200px;
    height: 42px;
    border: solid black 2px;
    color: black;
    text-align: center;
    padding-top: 15px;
    font-family: "Oswald";
    font-weight: bolder;
}
#wheels{
    background-image: url(images/fitment_inc_wheels_tires.jpg);
    background-size: cover;
    background-position: center;
    width: 24.3%;
    height: 300.31px;
    display: inline-block;
    color:white;
    font-family: "Oswald";
    font-size: 18px;
    font-weight: normal;
    padding-right: 10px;
}
#suspension{
    background-image: url(images/fitment_inc_suspension.jpg);
    background-size: cover;
    background-position: center;
    width: 24.3%;
    height: 300.31px;
    display: inline-block;
    color:white;
    font-family: "Oswald";
    font-size: 18px;
    font-weight: normal;
    padding-right: 10px;
}
#accesories{
    background-image: url(images/fitment_inc_accessories.jpg);
    background-size: cover;
    background-position: center;
    width: 24.3%;
    height: 300.31px;
    display: inline-block;
    color:white;
    font-family: "Oswald";
    font-size: 18px;
    font-weight: normal;
    padding-right: 10px;
}
#tv{
    background-image: url(images/fitment_inc_youtube_tv.jpg);
    background-size: cover;
    background-position: center;
    width: 24.3%;
    height: 300.31px;
    display: inline-block;
    color:white;
    font-family: "Oswald";
    font-size: 18px;
    font-weight: normal;
    padding-right: 10px;
}
#cate{
    display: inline-block;
    width: 100%;
}
div#charity h2{
    text-align: center;
    font-family: "Oswald";
    font-weight: 100;
    font-size: 38px;

}