body{
    overflow-x: hidden;
    margin: 0;
}
#bar{
    background-color:white;
    width: 100%;
    height: 85px;

}
.logo{
    width: 351.56px;
    height: 75px;
    margin-left: 20%;
}
.user{
    float: right;
    margin-top: 20px;
    

}
.cart{
    float: right;
    margin-right: 20%;
    padding-top: 5px;
    margin-top: 20px;
    
}
#ma{
    padding-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial,sans-serif;
    font-size: 14px;
    
}

#hs{
    font-family: Arial,sans-serif;
    font-size: 11px;
    padding-left: 10px;
    text-transform: uppercase;
    
}
.matext{
    float: right;
    margin-right: 25px;
    margin-top: 20px;

}
.ma_cart{
    float: right;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial,sans-serif;
    font-size: 14px;
    padding-top: 5px;

}
#nav{
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;

}
.left-nav{
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 14px;
    margin-left: 19.5%;
}
.sh{
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 14px;
    margin-right: 25%;
    float: right;
    padding-bottom: 25px;

}
li{
    list-style: none;
    display: inline;
    margin-left: 25px;
}

#hero{
    background-image: url(images/fi-homepage-banner-lg.jpg);
    background-size: cover;
    width: 100%;
    height: 590px;
    background-position: center;
}
#fortun{
    background-image: url(images/fortuneauto-desktop.jpg);
    background-size: cover;
    width: 100%;
    height: 750.52px;
    background-position: center;
}
#top{
    background-image: url(images/top19-dekstop.jpg);
    background-size: cover;
    width: 100%;
    height: 703.2px;
    background-position: center;
}
#stance{
    background-image: url(images/fitment-industries-add-your-car.png);
    background-size: cover;
    width: 100%;
    height: 648.97px;
    background-position: center;
    margin-bottom: 162.250px;

}
.accuair{
    width: 50%;
    height: 648.97px;
}
.airlift{
    width: 50%;
    height: 648.97px;
    
}
#susp{
    display: inline;
}
#custom{
    background-image: url(images/fitment-industries-car-gallery.jpg);
    background-size: cover;
    width: 100%;
    height: 648.97px;
    background-position: center;
}
#detailer{
    background-image: url(images/fitment-industries-carcare-products.jpg);
    background-size: cover;
    width: 100%;
    height: 623.73px;
    background-position: center;
}
#charity{
    background-image: url(images/donation-counter-img.png);
    background-size: cover;
    width: 100%;
    height: 287px;
    background-position: center;
}
#truck{
    background-image: url(images/custom-offsets-truck-gallery.png);
    background-size: cover;
    width: 100%;
    height: 648.97px;
    background-position: center;
}
.feat{
    font-weight: 900px;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;

}
h4{
    font-family: "Oswald";
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.avidone{
    width: 240px;
    height: 304px;
    border: solid grey 1px;
    float: left;
    margin-left: 50px;
}
.cosmis{
    width: 240px;
    height: 304px;
    border: solid grey 1px;
    float: left;
    margin-left: 50px;
}
.avidtwo{
    width: 240px;
    height: 304px;
    border: solid grey 1px;
    float: left;
    margin-left: 50px;
}
.jnc{
    background-size: cover;
    width: 240px;
    height: 304px;
    border: solid grey 1px;
    float: left;
    margin-left: 50px;
}
#featprod{
    display: inline;
}
.pic{
    width: 220px;
    height: 220px;
    margin-left: 5%;
    
}
.logos{
    width: 100px;
    height: 25px;
    margin-left: 30%;
    
}
.logosjnc{
    width: 25px;
    height: 25px;
    margin-left: 45%;
    
}
#feat{
    margin-left: 325px;
}
.name{
    margin-left: 55px;
    font-family: "Oswald";
    font-size: 14px;
    text-transform: uppercase;
}
.namee{
    margin-left: 95px;
    font-family: "Oswald";
    font-size: 14px;
    text-transform: uppercase;
}
.store{
    font-family: "Oswald";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 1500px;
    margin-left: 22.5px;
}
.button1{
    margin-left: auto;
    margin-right: auto;
    width: 198.2px;
    height: 39px;
    border: solid grey 2px;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: "Oswald";
}
.spacer{
    height: 500px;
}
.button2{
    margin-left: auto;
    margin-right: auto;
    width: 198.2px;
    height: 39px;
    border: solid black 2px;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: "Oswald";
    background-color: rgba(204,204,204,.95);
}
.one{
    color: black;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    font-family: "Oswald";
    font-weight: bolder;
    padding-top: 145px;
    z-index: -1;
    

}
.two{
    color: black;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    font-family: "Oswald";
    font-weight: bolder;
    position: relative;
    z-index: -2;
    margin-top: -60px;
    opacity: 0.25;
    

}
.three{
    color: black;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
    font-family: "Oswald";
    font-weight: bolder;
    position: relative;
    z-index: -3;
    margin-top: -70px;
    opacity: 0.1;
    

}
.be{
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 23px;
    text-align: center;
    font-weight: 100;
    margin-top: 25px;
}
.spacer2{
    height: 20px;
}
.button3{
    margin-left: auto;
    margin-right: auto;
    width: 230.66px;
    height: 40px;
    border: solid black 2px;
    color: black;
    text-align: center;
    padding-top: 12px;
    font-family: "Oswald";
    font-weight: bolder;
}
.cars{
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bolder;
    float: right;
    font-family: "Oswald";
    margin-top: 250px;
    margin-right: 35px;
    
}
.ca{
    text-transform: uppercase;
    font-family: "Oswald";
    padding-top: 300px;
    margin-left: 67%;
    
}
.button4{
    margin-left: 72.5%;
    width: 230.66px;
    height: 40px;
    border: solid black 2px;
    color: black;
    text-align: center;
    padding-top: 12px;
    font-family: "Oswald";
    font-weight: bolder;
}
.spacer3{
    height: 25px;
}
.show{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
    float: right;
    font-family: "Oswald";
    margin-top: 250px;
    margin-right: 100px;
}
.enth{
    text-transform: uppercase;
    font-family: "Oswald";
    padding-top: 320px;
    margin-left: 76%;
}
.button5{
    margin-left: 76.5%;
    width: 200px;
    height: 42px;
    border: solid black 2px;
    color: black;
    text-align: center;
    padding-top: 15px;
    font-family: "Oswald";
    font-weight: bolder;
}
#wheels{
    background-image: url(images/fitment_inc_wheels_tires.jpg);
    background-size: cover;
    background-position: center;
    width: 24.3%;
    height: 300.31px;
    display: inline-block;
    color:white;
    font-family: "Oswald";
    font-size: 18px;
    font-weight: normal;
    padding-right: 10px;
}
#suspension{
    background-image: url(images/fitment_inc_suspension.jpg);
    background-size: cover;
    background-position: center;
    width: 24.3%;
    height: 300.31px;
    display: inline-block;
    color:white;
    font-family: "Oswald";
    font-size: 18px;
    font-weight: normal;
    padding-right: 10px;
}
#accesories{
    background-image: url(images/fitment_inc_accessories.jpg);
    background-size: cover;
    background-position: center;
    width: 24.3%;
    height: 300.31px;
    display: inline-block;
    color:white;
    font-family: "Oswald";
    font-size: 18px;
    font-weight: normal;
    padding-right: 10px;
}
#tv{
    background-image: url(images/fitment_inc_youtube_tv.jpg);
    background-size: cover;
    background-position: center;
    width: 24.3%;
    height: 300.31px;
    display: inline-block;
    color:white;
    font-family: "Oswald";
    font-size: 18px;
    font-weight: normal;
    padding-right: 10px;
}
#cate{
    display: inline-block;
    width: 100%;
}
div#charity h2{
    text-align: center;
    font-family: "Oswald";
    font-weight: 100;
    font-size: 38px;

}
.charity-meter{
    width: 1216px;
    height: 16px;
    border: solid 8px black;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}
.bar{
    height: 16px;
    width: 98%;
    background-color: #0d81c3;
    float: left;
}
.bar2{
    height: 16px;
    width: 2%;
    background-color: #7b7b7b;
    float: right;
}
.donate{
    font-family: "Oswald";
padding-left: 15px;
background: transparent;
border-top-left-radius: 0px;
border-bottom-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-right-radius: 0px;
color: white;
display: inline;
font-size: 24px;
padding: 8px;
text-align: center;
margin-left: 30%;
background-color: black;
opacity: .8;
font-style: italic;
font-weight: 200;
letter-spacing: 2px;
text-indent: 2px;
}
.spacerc{
    height: 75px;
}
#truck{
    text-align: center;
}
.ttitle{
    font-family: "Oswald";
    font-weight: bolder;
    font-size: 54px;
    text-transform: uppercase;
    padding-top: 190px;
    padding-left: 75px;
    
}
.look{
    font-family: "Oswald";
    font-size: 19.2px;
    text-transform: uppercase;
    font-weight: 100;
    padding-top: 35px;
    padding-left: 75px;
    padding-bottom: 10px;
}
.line{
    background-color: black;
    height: 1px;
    width: 325px;
    margin-left: 43.5%;
    margin-right: auto;
    margin-top: 25px;
}
.op{
    font-family: "Oswald";
    font-weight: bolder;
    text-transform: uppercase;
    margin-left: 4.5%;
    margin-right: auto;
    margin-top: 25px;
    font-size: 20px;
}
.buttonst{
    margin-left: 46.9%;
    margin-right: auto;
    width: 198.2px;
    height: 39px;
    border: solid black 2px;
    color: black;
    text-align: center;
    padding-top: 20px;
    font-family: "Oswald";
}
.spacerst{
    height: 25px;
}
#getcon{
    width: 100%;
    height: 254px;
    font-family: "Oswald";
    line-height: 75px;

}
.stay{
    margin-top: 15px;
    color: #d6d6d6;
    font-size: 128px;
    text-align: right;
    

}
.connected{
    color: #8e8e8e;
    font-size: 128px;
    margin-top: 35px;
    text-align: right;
    

}
.fast{
    color: #8e8e8e;
    font-size: 20px;
    text-align: right;
    margin-right: 12px;
    
}
.gcrn{
    float: left;
    margin-left: 5%;
}
.lineb{
    height: 100%;
    width: 2px;
    background-color: #d6d6d6;
    float: left;
    margin-top: 0px;
    margin-left: 120px;
}
.joinw{
    font-size: 20px;
    font-family: "Oswald";

}
.bb{
    color: #3a3a3a;
    font-weight: bolder;

}
.gcrnt{
    text-align: center;
    line-height: 25px;
    margin-right: 15%;
    width: 100%;
    padding-top: 20px;
}
.miss{
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: bolder;
    color: #3a3a3a;
    font-size: 25px;
}
.drawn{
    color: #c34545;
    font-family: "Oswald";
    font-size: 20px;
    text-transform: uppercase;
}
.email{
    width: 436.96px;
    height: 44px;
    border: solid 4px #8e8e8e;
    font-size: 30px;
    color: #d6d6d6;
    font-family: "Oswald";
    margin-left: 2%;
    float: left;
    margin-left: 9%;
    margin-top: 15px;
}
.submit{
    background-color: #8e8e8e;
    height: 42px;
    width: 110px;
    margin-right: 50px;
    color: white;
    text-align: center;
    padding-top: 12px;
    float: left;
    margin-top: 15px;
}
.media{
    float: left;
    margin-left: 15%;
    margin-top: 15px;
}
.yt{
    width: 134.17px;
    height: 30px;
    margin-right: 20px;
    
}
.ig{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    
}
.fb{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    
}
.snap{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    
}
#shipping{
    background-color: #737173;
    width: 100%;
    height: 46px;
    color: #e6e6e6;
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 15px;
    float: left;
    padding-left: 5%;
    margin-top: -20px;
}
#footer{
    background-color: #858385;
    width: 100%;
    height: 370px;
}
.whitelogo{
    width: 208.33px;
    height: 70px;
}
.imgf{
    width: 42px;
    height: 42px;
    border: solid white 1px;
    border-radius: 50%;
}
#fbw{
    background-image: url(images/facebook-white.png);
    background-position: center;
    background-size: cover;
    display: inline-block;
}
#igw{
    background-image: url(images/instagram-white.png);
    background-position: center;
    background-size: cover;
    display: inline-block;
}
#scw{
    background-image: url(images/snapchat-white.png);
    background-position: center;
    background-size: cover;
    display: inline-block;
}
#ytw{
    background-image: url(images/youtube-white.png);
    background-position: center;
    background-size: cover;
    display: inline-block;
}
.whitecart{
    width: 20px;
    height: 20px;
}
.linksone{
    border-right: solid white 2px;
    color: white;
    font-family: "Oswald";
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    margin-top: -100px;
    float: left;
    text-transform: uppercase;
    line-height: 5px;
}
.linkstwo{
    border-right: solid white 2px;
    color: white;
    font-family: "Oswald";
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    margin-top: -100px;
    float: left;
    text-transform: uppercase;
    line-height: 5px;
}
.linksthree{
    border-right: solid white 2px;
    color: white;
    font-family: "Oswald";
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    margin-top: -100px;
    padding-bottom: 19px;
    float: left;
    text-transform: uppercase;
    line-height: 5px;
    
}
.ico{
    height: 20px;
    width: 20px;
}
.ftitle{
    color: white;
    font-family: "Oswald";
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}
#rightfoot{
    display: inline-block;
    margin-left: 15%;
}
.img{
    display: inline-block;
}
.images{
    width: 42px;
    height: 42px;
}
#ytw{
    background-image: url(images/youtube-white.png);
    background-size: cover;
    background-position: center;
    border: solid white 2px;
    border-radius: 50%;
}
#igw{
    background-image: url(images/instagram-white.png);
    background-size: cover;
    background-position: center;
    border: solid white 2px;
    border-radius: 50%;
}
#scw{
    background-image: url(images/snapchat-white.png);
    background-size: cover;
    background-position: center;
    border: solid white 2px;
    border-radius: 50%;
}
#fbw{
    background-image: url(images/facebook-white.png);
    background-size: cover;
    background-position: center;
    border: solid white 2px;
    border-radius: 50%;
}
.imgw{
    width: 208.33px;
    height: 70px;
    float: left;

}
.left{
    float: left;
    margin-left: 15%;
    margin-top: 100px;
}
.footbar{
    height: 46px;
    width: 100%;
    background-color: #737173;
    color: #e6e6e6;
    font-family: "Oswald";
    font-size: 24px;
    letter-spacing: 18px;
    float: left;
    margin-top: -20px;
    padding-left: 5%;
}
.cartf{
    width: 20px;
    height: 20px;
}
.listone{
    float: left;
    line-height: 30px;
    color: white;
    font-family: "Oswald";
    border-right: solid white 2px;
    margin-left: 10%;
    padding-right: 30px;
    margin-top: 75px;
    text-align: left;
}
.tt{
    text-align: center;
}
.listtwo{
    float: left;
    line-height: 30px;
    color: white;
    font-family: "Oswald";
    border-right: solid white 2px;
    margin-left: 2%;
    padding-right: 40px;
    margin-top: 75px;
    text-align: left;
}
.listthree{
    float: left;
    line-height: 30px;
    color: white;
    font-family: "Oswald";
    border-right: solid white 2px;
    margin-left: 2%;
    padding-right: 40px;
    margin-top: 75px;
    text-align: left;
    padding-bottom: 30px;
}
.imw{
    height: 20px;
    width: 20px;
}
.amo{
    font-family: "Oswald";
    font-size: 28px;
    color: black;
    margin-left: 45%;
}
.sev{
    color: #0d81c3;
    font-weight: bolder;
}
.over{
    color: white;
    font-family: "Oswald";
    font-size: 75px;
    margin-left: 49.5%;
}
.omil{
    color: white;
    font-family: "Oswald";
    font-size: 150px;
    margin-left: 40%;
    font-weight: bolder;
    margin-top: -90px;
}
.wt{
    color: white;
    font-family: "Oswald";
    font-size: 75px;
    margin-left: 35%;
    margin-top: -60px;
}